{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Reservation creation</h1>
    {{ form_start(form, {'attr': {'id': 'form-resa' }} ) }}
        {{ form_row(form.datearr) }}
        {{ form_row(form.datedep) }}
        {{ form_row(form.hotel) }}

        {{ form_row(form.chambre, {'attr': {'class': 'chambre-form', 'role': 'form', 'id': 'chambre'}} ) }}
    {{ form_end(form) }}

    <input id="search-button" type="submit" value="Trouver les chambres disponibles" />

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}

{% endblock %}


